.slider-home{
	/*background-color: darkblue;*/
}

.contenido-slider{
	margin-top:18rem;
	color: #fff;
	z-index: 10;
	padding-left: 0 !important;
}

.contenido-slider p{
	font-size: 1.5rem;
	padding: 0 1rem; 
}

.img-slider{
	width: 100%;
}

.total-slider{
	position: absolute !important;
	padding: 0 !important;
}

.slider-text h1{
	font-size: 2.5rem !important;
}

@media screen and (min-width: 1024px) {

.contenido-slider{
	margin-top:8rem;
	padding-left: 7rem !important;
}

.slider-text h1{
	font-size: 1.2rem !important;
}

.contenido-slider p{
	font-size: 0.6rem;
}
}

@media screen and (min-width: 1400px){

.contenido-slider{
	margin-top:9.5rem;
	padding-left: 8rem !important;
}

}