@import url('https://fonts.googleapis.com/css?family=Poppins:200,400,700');

html{
	font-size: calc(1rem + 1vw);
}

.hidden{
	display: none;
}

h1, h2, h3, h4, h5{
	text-transform: uppercase;
	font-weight: 700 !important;
	margin:0.2rem;
}

h1{
	display: inline-table;
	font-size: 
}

h1:before{
	content: "";
	width: 30%;
	border-bottom: 0.1em solid #f00;
	display: table-caption;
	vertical-align: top;
}

h1{
	font-size: 1.3rem !important;
}
h2{
	font-size: 1.1rem !important;
}
h3{
	font-size: 0.9rem !important;
}
h4{
	font-size: 0.7rem !important;
}
h5{
	font-size: 0.5rem !important;
}

b{
	font-weight: 700 !important;
}

main p{
		letter-spacing: 0.13rem;
	    font-size: 0.7rem;
	    font-weight: 200;
	    color: #fff;
	    line-height: 2rem;
	    padding: 0 1.5rem;

	}

.container{
	width: 90% !important;
}

body{
	font-family: 'Poppins';
}

main{
	background-image: url('./../assets/img/m-home.jpg');
	background-size: cover;
	margin-top: 8vh;
}
main#interna{
	background-image: url('./../assets/img/m-internas.jpg');
	background-size: cover;

}

.btn-slider{
	padding: 0.3rem 1rem;
	border: solid 1px #fff !important;
	margin: 1rem auto;
	color: #fff;
	font-size: 0.7rem !important;
	font-weight: 700 !important;
	text-transform: uppercase;
	background-color: transparent;
	height: auto;
}

@media screen and (min-width: 1024px) {
	.container{
	width: 70% !important;
}
main{
	background-image: url('./../assets/img/d-back-Int.jpg');
}

main#interna{
	background-image: url('./../assets/img/d-back-Int.jpg');
}

main p{
	    font-size: 0.4rem;
	    line-height: 0.5rem;
	}
}